# Expo
.expo/
__generated__/
web-build/
bare-apps/

# macOS
.DS_Store

# Node
node_modules/
package-lock.json
npm-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
.envrc.local

# Optional: if you use npx expo prebuild and want to generate native folders on each build
# android/
# ios/